#calculator-main-container {
	position: absolute;
	top: 30%;
	right: 42%;	
}

#calc-header {
	position: absolute;
	top: 10%;
	right: 40%;
}

#main-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	top: 8%;
	background-color: black;
}



#operand {
	float: left;
	width: 22px;


}

#firstInput {
	float: left;
	width: 100px;

}

#secondInput {
	float: left;
	width: 100px;

}

.smallBtn {
	width: 60px;
	height: 60px;
	margin-top: 2px;
	margin-right: 2px;
}


#number1 {
	background-image: url('/img/calculatorImages/1.jpg');
	clear: left;
	float: left;
}

#number1:hover {
	background-image: url('/img/calculatorImages/1pressed.png');
	clear: left;
	float: left;
}

#number2 {
	background-image: url('/img/calculatorImages/2.jpg');
	float: left;
}

#number2:hover {
	background-image: url('/img/calculatorImages/2pressed.png');
	float: left;
}

#number3 {
	background-image: url('/img/calculatorImages/3.jpg');
	float: left;
}

#number3:hover {
	background-image: url('/img/calculatorImages/3pressed.png');
	float: left;
}

#additionBtn {
	background-image: url('/img/calculatorImages/add.jpg');
	float: left;
}

#additionBtn:hover {
	background-image: url('/img/calculatorImages/add-pressed.png');
	float: left;
}

#number4 {
	background-image: url('/img/calculatorImages/4.jpg');
	clear: left;
	float: left;
}

#number4:hover {
	background-image: url('/img/calculatorImages/4pressed.png');
	clear: left;
	float: left;
}

#number5 {
	background-image: url('/img/calculatorImages/5.jpg');
	float: left;
}

#number5:hover {
	background-image: url('/img/calculatorImages/5pressed.png');
	float: left;
}

#number6 {
	background-image: url('/img/calculatorImages/6.jpg');
	float: left;
}

#number6:hover {
	background-image: url('/img/calculatorImages/6pressed.png');
	float: left;
}

#subtractBtn {
	background-image: url('/img/calculatorImages/subtract.jpg');
	float: left;
}


#subtractBtn:hover {
	background-image: url('/img/calculatorImages/subtract-pressed.png');
	float: left;
}


#number7 {
	background-image: url('/img/calculatorImages/7.jpg');
	clear: left;
	float: left;
}

#number7:hover {
	background-image: url('/img/calculatorImages/7pressed.png');
	float: left;
}

#number8 {	
	background-image: url('/img/calculatorImages/8.jpg');
	float: left;

}

#number8:hover {
	background-image: url('/img/calculatorImages/8pressed.png');
	float: left;
}

#number9 {	
	background-image: url('/img/calculatorImages/9.jpg');
	float: left;

}

#number9:hover {
	background-image: url('/img/calculatorImages/9pressed.png');
	float: left;
}

#multiplyBtn {
	background-image: url('/img/calculatorImages/multiply.jpg');
	float: left;
}

#multiplyBtn:hover {
	background-image: url('/img/calculatorImages/multiply-pressed.png');
	float: left;
}

#number0 {	
	background-image: url('/img/calculatorImages/0.jpg');
	clear: left;
	float: left;

}

#number0:hover {
	background-image: url('/img/calculatorImages/0pressed.png');
	float: left;
}

#decimalBtn {
	background-image: url('/img/calculatorImages/decimal.jpg');
	float: left;
}

#decimalBtn:hover {
	background-image: url('/img/calculatorImages/decimal-pressed.png');
	float: left;
}

#clearBtn {
	background-image: url('/img/calculatorImages/clear.jpg');
	float: left;
}

#clearBtn:hover {
	background-image: url('/img/calculatorImages/clear-pressed.png');
	float: left;
}

#divideBtn {
	background-image: url('/img/calculatorImages/divide.jpg');
	float: left;
}

#divideBtn:hover {
	background-image: url('/img/calculatorImages/divide-pressed.png');
	float: left;
}

#equalsBtn {
	background-image: url('/img/calculatorImages/equals.jpg');
	clear: left;
	float: left;
	width: 184px;
	height: 60px;
	margin-top: 2px;
	color: black;
}

#equalsBtn:hover {
	background-image: url('/img/calculatorImages/equals-pressed.png');
	clear: left;
	float: left;
	width: 184px;
	height: 60px;
	margin-top: 2px;
}

#backspaceBtn {
	background-image: url('/img/calculatorImages/backspace.jpg');
	float: left;
	margin-left: 2px;
}

#backspaceBtn:hover {
	background-image: url('/img/calculatorImages/backspace-pressed.png');
	float: left;
	margin-left: 2px;
}
