.box {
	border: 1px solid black;
	height: 50px;
	width: 50px;
	padding: 10px;
	margin-top: 50px;
	margin-right: 50px;
	float: left;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
	clear: left;
}

#blue {
	background-color: blue;
}

#purple {
	background-color: purple;
}

img {
	position: relative;
	top: -100px;
	right: -50px;
}

html {
	background: url(/img/codeup-ribbon.png) no-repeat top right fixed;
}