.contact-form {
	margin-top: 0%;
}

.register-form {
	margin-top: 20%;
}

/*.main-container {
	padding: 50px;*/
}
.resume {
	border: 1px solid black;
	padding: 0;
	background-color: red;
	color: white;
	padding: 50px;
}
.eyeofsauron {
	width: 70%;
	height: 50%;
	padding: 20px;
	margin-bottom: 25px;
}
.landing-page {
	background-image: url(/img/jungle-white-overlay.jpg);
	/*margin-top: 5%;*/
}
.portfolio,
.contact-form-body,
.home-page-body,
.register-body,
.reg-btn {
	background-color: black;
	color: white;
}
.reg-btn {
	border: black;
}

.reg-btn:hover{
	background-color: green;
	color: black;
	border: green;
}
.background-img {
	background-image: url(/img/cosmos.jpg);
	height: 100%;
	position: absolute;
}

.portrait {
	padding: 20px 10px 30px 0px;
}
.bannerlp {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 20%;
    padding: 0;
}
.bannerlp h2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    color: black;
}
.bannerlp h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
}

.lp-div1 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80%;
    border: 4px solid black;
    border-right: 2px solid black;
    width: 50%;
    margin-left: 0px;
}

.lp-div1 h3 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    color: black;
}

.lp-div2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;
    border: 4px solid black;
    border-left: 2px solid black;
    width: 50%;
    margin-right: 0px;
}

.lp-div2 h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 50px;
    color: black;

}

.lp-div2 h1:hover {
    color: white;
}

.bannercya {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 20%;
    padding: 0;
}

.bannercya h1 {
    position: absolute;
    bottom: 0;
    right: 0; 
}

.choose-your-adventure {
    background-image: url("/img/mans-vs-mountain-with-logo.jpg" );
    position: absolute;
}


#enter-btn {
    position: relative;
    left: 750%;
    top: 225px;
}
/*NavBar CSS*/
/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}

/*Carousel CSS*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}